{% extends "same-content.html" %}

{% block content %}

	<div class="jumbotron">
		<div class="container">

		  <h1>Learn Metagenomics!</h1>
		  <p>Students in this section of BIOL 3004 will learn introductory bioinformatics and have the opportunity to apply them to a metagenomics research project, focusing on the microbiome.</p>
		  <p><a class="btn btn-primary btn-lg" href="programming" role="button">Get Started!</a></p>
		 </div>

	</div>

	<div class="container">
	<!--TODO: This guy could use a fancy background and junk!-->
		<div class="row main-content">
		<div class="col-md-6">
			<img class="img-responsive" src="img/csci.jpg" alt="Computer Science">
		</div>
		<div class="col-md-6">
			<h3>The Programming</h3>
			<p>Use the terminal, R programming language, and QIIME to analyze large microbial datasets.</p>
		</div>
		</div>
		<div class="row">
		<div class="col-md-6">
			<img class="img-responsive" src="img/microbiology.jpg" alt="Computer Science">
		</div>
		<div class="col-md-6">
			<h3>The Microbiology</h3>
			<p>Learn the concepts behind metagenomics and how to use them to build your own experiments.</p>
		</div>
		</div>
	</div>


<!-- <div class="container-fluid instructor-info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

          <h2>Your Instructors</h2>

      </div>
    </div>
    <div class="row">
    
      <div class="col-md-6">
          <h4>Elise Morton</h4>


      </div>
      <div class="col-md-6">
          <h4>Catherine Kirkpatrick</h4>


      </div>

    </div>
  </div>
</div> -->

{% endblock %}