 {% extends 'same-content.html' %}


{% block content %}

    <div class="container">

      <div class="row">
        <h2 class="col-md-12 text-center">Welcome to the Programming Tutorials!</h2>
      </div>


  <div class="container" foo="bluebleublrubleubleuleul">

  <!--TODO: This guy could use a fancy background and junk!-->
<!--     <div class="row main-content">
    <div class="col-md-2 col-sm-2 hidden-xs">
      <a href="programming1"><img class="img-responsive" src="img/terminal.png" alt="Computer terminal"></a>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <h3 class="button-align"><a href="programming1">Exploring the Terminal: Your file system tour guide</a></h3>
      <p>Learn how to use the terminal to navigate your file system and input commands to your computer.</p>
    </div>
    </div>

    <div class="row main-content">
    <div class="col-md-2 col-sm-2 hidden-xs">
      <a href="programming2"><img class="img-responsive" src="img/ssh_logo.jpg" alt="ssh"></a>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <h3 class="button-align"><a href="programming2">SSH-The terminal teleportation device</a></h3>
      <p>Let SSH bring you to computers over the network.</p>
    </div>
    </div> -->

  {% block banner_content %}
  {% endblock %}

  </div>

  </div>

{% endblock %}