{% extends 'programming-content.html' %}
{% block banner_content %}
<div class="row main-content">
<div class="col-md-2 col-sm-2 hidden-xs">
  <a href="programming1"><img class="img-responsive" src="img/terminal.png" alt="terminal.png"></a>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
  <h3 class="button-align"><a href="programming1">Exploring the Terminal</a></h3>
  <p>Use the terminal to navigate your file system and issue commands to your computer.</p>
</div>
</div>
<div class="row main-content">
<div class="col-md-2 col-sm-2 hidden-xs">
  <a href="programming2"><img class="img-responsive" src="img/ssh_logo.jpg" alt="ssh_logo.jpg"></a>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
  <h3 class="button-align"><a href="programming2">A tool for remote connection to other computers.</a></h3>
  <p>The computer teloportation tool.</p>
</div>
</div>
<div class="row main-content">
<div class="col-md-2 col-sm-2 hidden-xs">
  <a href="programming3"><img class="img-responsive" src="img/Rlogo-1.png" alt="Rlogo-1.png"></a>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
  <h3 class="button-align"><a href="programming3">Getting R On Your System</a></h3>
  <p>R can help us perform a lot of useful statistical analyses. Let's get that setup.</p>
</div>
</div>
<div class="row main-content">
<div class="col-md-2 col-sm-2 hidden-xs">
  <a href="programming4"><img class="img-responsive" src="img/graph.gif" alt="graph.gif"></a>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
  <h3 class="button-align"><a href="programming4">Making Some Visualizations in R</a></h3>
  <p>Explore the basic syntax of R and create some simple graphs.</p>
</div>
</div>
<div class="row main-content">
<div class="col-md-2 col-sm-2 hidden-xs">
  <a href="programming5"><img class="img-responsive" src="img/language.jpg" alt="language.jpg"></a>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
  <h3 class="button-align"><a href="programming5">More About How R Actually Works</a></h3>
  <p></p>
</div>
</div>
<div class="row main-content">
<div class="col-md-2 col-sm-2 hidden-xs">
  <a href="programming6"><img class="img-responsive" src="img/copy.jpg" alt="copy.jpg"></a>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
  <h3 class="button-align"><a href="programming6">Creating, copying, and deleting.</a></h3>
  <p>Make new folders, files, move them around, and destroy them.</p>
</div>
</div>
<div class="row main-content">
<div class="col-md-2 col-sm-2 hidden-xs">
  <a href="programming7"><img class="img-responsive" src="img/anova.png" alt="anova.png"></a>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
  <h3 class="button-align"><a href="programming7">ANOVA and R Bootcamp (Biol 2003)</a></h3>
  <p>Learn how to implement ANOVA in the R programming language</p>
</div>
</div>
{% endblock %}
